<article class="hentry">
  <div class="featured-image">
    <img
      src="https://images.unsplash.com/photo-1531096187418-86ac6b31baea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9d6cd4e7c48dfc78f5e9c0fb07b692f0&auto=format&fit=crop&w=1350&q=80"
      alt=""
    />
  </div>
  <h1 class="entry-title">Flexible Post Layout</h1>
  <div class="entry-meta">
    <p>
      <span class="author">Written by <a href="#">Lavi Perchik</a></span>
      <span class="date">Monday, July 9, 2018</span>
    </p>
  </div>
  <div class="entry-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente,
      necessitatibus, veritatis voluptates corrupti ipsum minus accusamus dicta
      mollitia inventore doloribus omnis ex! Nemo doloribus molestias saepe,
      rerum possimus molestiae est.
    </p>
    <p>
      Obcaecati laboriosam non sunt, consequuntur nam quae repudiandae animi
      dolore atque aut aliquam aspernatur praesentium officiis magnam esse
      aliquid eveniet veritatis consequatur ducimus! Totam aperiam ex porro
      nostrum rem quos!
    </p>
    <p>
      A quos tenetur dolor laboriosam, eveniet ex qui ullam quibusdam magnam
      eius debitis possimus nesciunt distinctio dolores dignissimos! Alias
      explicabo maiores cum iure inventore harum deleniti odio doloribus sequi
      magnam!
    </p>
    <p>
        A quos tenetur dolor laboriosam, eveniet ex qui ullam quibusdam magnam
        eius debitis possimus nesciunt distinctio dolores dignissimos! Alias
        explicabo maiores cum iure inventore harum deleniti odio doloribus sequi
        magnam!
      </p>
      <p>
        A quos tenetur dolor laboriosam, eveniet ex qui ullam quibusdam magnam
        eius debitis possimus nesciunt distinctio dolores dignissimos! Alias
        explicabo maiores cum iure inventore harum deleniti odio doloribus sequi
        magnam!
      </p>
      <p>
        A quos tenetur dolor laboriosam, eveniet ex qui ullam quibusdam magnam
        eius debitis possimus nesciunt distinctio dolores dignissimos! Alias
        explicabo maiores cum iure inventore harum deleniti odio doloribus sequi
        magnam!
      </p>
      <p>
        A quos tenetur dolor laboriosam, eveniet ex qui ullam quibusdam magnam
        eius debitis possimus nesciunt distinctio dolores dignissimos! Alias
        explicabo maiores cum iure inventore harum deleniti odio doloribus sequi
        magnam!
      </p>
  </div>
</article>
