<div class="container">
  <h2>Featured Articles</h2>
  <article>
    <div class="title">Title</div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem iusto ullam,
      minus tempora quae debitis delectus?
    </p>
  </article>
  <article>
    <div class="title">Title</div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem iusto ullam,
      minus tempora quae debitis delectus?
    </p>
  </article>
  <article>
    <div class="title">Title</div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem iusto ullam,
      minus tempora quae debitis delectus?
    </p>
  </article>
  <article>
    <div class="title">Title</div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem iusto ullam,
      minus tempora quae debitis delectus?
    </p>
  </article>
</div>
